# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.nottoolateforamerica.com
AuthUserFile /home/.sites/64/site41/web/_vti_pvt/service.pwd
AuthGroupFile /home/.sites/64/site41/web/_vti_pvt/service.grp
